.contactus{
    padding-top: 10em;
    background: url("/assets/contact.jpg");
    background-size: cover;
    font-size:x-large;
    color: white;
    //margin-top:2em;
   // text-align: center;
    font-weight: bold;
    padding-bottom: 5em;
    background-position-x: 100%;

}
i{
    font-size: x-large;
}
p{
    margin-bottom: 3em;
}